body {
  font-family: sans-serif;
  font-size: 14px;
}

a:link, a:visited {
  color: #1111cc
}

a:hover, a:active {
  color : #ff1111;
}

.title {
  font-size: 32px;
  color: crimson;
  font-weight: bold;
}

.auther {
  font-size: 12px;
}

.explain {
  font-size: 11px;
  color: #666;
}

.list {
  width: 700px;
}

.tweet_block {
  width: 700px;
  height: 120px;
  display: none;
  padding: 1px;
  margin: 5px;
}

.tweet_left {
  width: 50px;
  float: left;
}

.tweet_body {
  width: 630px;
  margin-left: 60px;
}

.tweet_lv {
  width: 50px;
  text-align: center;
  vertical-align: top;
}

.tweet_img {
  width: 50px;
  text-align: center;
  vertical-align: top;
}

.tweet_user {
  font-size: 12px;
  text-align: left;
}

.tweet_score {
  text-align: left;
  background: #cff;
  color: #f44;
  font-weight: bold;
}

.tweet_text {
  text-align: left;
  background: #fee;
}

.tweet_date {
  font-size: 10px;
  text-align: right;
  background: #fee;
}

.tweet_icon {
  width: 40px;
  height: 40px;
  margin: 1px;
}

.lv3 {
  background: #f99;
}

.lv2 {
  background: #fbb;
}

.lv1 {
  background: #fdd;
}

.lv0 {
  background: #ccc;
}
